@import '../../../styles/variables.scss';

.image {
    width: 100%;
    img{
        width: 100%;
    }
}

.imageName {
    margin-right: 58px;
}

.visible{
    opacity: 1;
    visibility: visible;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}

